@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --Violeta: #c72ed8;
    --Vermelho: #e30f67;
    --branco: #bc5abc;
    --azul-degrade: linear-gradient(97.54deg, #37093c 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --ciano: #8ebfe4;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}